/* 
 * ===================================
 * Reset CSS
 * ===================================
 */
*
{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
 * ===================================
 * Global
 * ===================================
 */

body { 
  color: #404040;
  font-family: Arial;
  font-size: 1.125rem;
  line-height: 1.75;
}

img,
picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  pointer-events: none;
  user-select: none;
  height: auto;
}


/* 
 * ===================================
 * Section
 * ===================================
 */

.section {
  padding: 8rem 1.5rem;
  position: relative;
}

/* 
 * ===================================
 * Container
 * ===================================
 */

.container {
  max-width: 73.75rem;
  margin-left: auto;
  margin-right: auto;
}

/* 
 * ===================================
 * Grid
 * ===================================
 */

.grid {
  /* --gap: 3rem 4rem;
  --align: center; */

  display: grid;
  gap: 3rem;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.grid {
  grid-template-columns: inherit;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

/* 
 * ===================================
 * Content
 * ===================================
 */

.content { 
  margin-top: 1.5rem;
}

p { 
  margin-top: 1.5rem;
}

/* 
 * ===================================
 * Header / Nav
 * ===================================
 */

.header { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1.5rem;
}

nav { 
  display: flex;
  gap: 2rem;
}

.header-menu-item {
  color: #404040; 
  text-decoration: none;
}

/* 
 * ===================================
 * Hero
 * ===================================
 */

.hero { 
  background: url(../assests/hero-bg.svg)no-repeat center/ cover;
  color: #ffffff;
}

.hero h2 { 
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.4;
  max-width: 15ch;
}

.hero p { 
  font-size: 1.5rem;
}

/* 
 * ===================================
 * TOP
 * ===================================
 */

.top { 
  text-align: center;
}

.top h2 { 
  font-size: 64px;
  text-transform: uppercase;
  line-height: 1.4;
}

.top p { 
  font-size: 1.5rem;
  max-width: 40ch;
  margin: auto;
}

.top p { 
  margin-top: 1.5rem;
}





